.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100vh;
}

.frow{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.lrow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}